/* @import url(./reset.css); */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-indigo: #2c3e50;
  --color-blue-active: rgb(0, 174, 255);
  --color-blue: rgb(59, 137, 255);
  --color-blue-hover: rgb(0, 120, 205);
  --color-green: hsla(160, 100%, 37%, 1);
  --color-green-op: hsla(160, 100%, 37%, 0.2);
  --color-orange: hsla(34, 100%, 54%, 1);
  --color-red: hsla(0, 100%, 54%, 1);

  --color-divider-light-1: rgba(60, 60, 60, 0.29);
  --color-divider-light-2: rgba(60, 60, 60, 0.12);
  --color-divider-dark-1: rgba(84, 84, 84, 0.65);
  --color-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-text-light-1: var(--color-indigo);
  --color-text-light-2: rgba(60, 60, 60, 0.66);
  --color-text-dark-1: var(--color-white);
  --color-text-dark-2: rgba(235, 235, 235, 0.64);
  --color-text-primary: var(--color-blue);
  --color-text-primary-hover: var(--color-blue-hover);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);

  --color-background-theme: var(--color-blue);

  --color-border: var(--color-divider-light-2);
  --color-border-hover: var(--color-divider-light-1);

  --color-heading: var(--color-text-light-1);
  --color-text: var(--color-text-light-1);
  --color-text-invert: var(--color-text-dark-1);
  --color-text-theme: var(--color-blue);

  --section-gap: 160px;
  --icon-size: 1.25em;

  --color-succes: var(--color-green);
  --color-alert: var(--color-orange);
  --color-error: var(--color-red);



}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-black-soft);
    --color-background-mute: var(--color-black-mute);

    --color-border: var(--color-divider-dark-2);
    --color-border-hover: var(--color-divider-dark-1);

    --color-heading: var(--color-text-dark-1);
    --color-text: var(--color-text-dark-2);
    --color-text-invert: var(--color-text-light-1);
  }

  body {
    background-image: url('/images/room-night.png');
    background-position: 50% 50%;
  }

}

@media (prefers-color-scheme: light) {
body {
  background-image: url('/images/room-day.png');
  background-position: 50% 50%;
}
}


body {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" -50;
}

#app {
  max-width: 100vw;
}

main {
  min-height: 150vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 100;
}

section {
  padding: 1em;
}

ul.student-list {
  margin-left: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  overflow: visible;
  padding-block: 2em;
}

ul.student-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
}

ul.student-list li .link-student {
  opacity: 0;
  width: 10em;
  border: 1px solid red;
  text-align: center;
  position: absolute;
  bottom: -2em;
}

ul.student-list li:hover .link-student {
  opacity: 1;
}




.glass  {
  transition: all 400ms ;
  /* border-radius: 1.25rem; */
border: 1.4px solid var(--windows-stroke-glass-specular, rgba(255, 255, 255, 0.40));

background: var(--Windows-Glass, rgba(128, 128, 128, 0.30));
background-blend-mode: luminosity;
/* Blur + Shadow Small */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
backdrop-filter: blur(20px);
}

.glass.scrolled  {
  /* border-radius: 1.25rem; */
border: 1.4px solid var(--windows-stroke-glass-specular, rgba(255, 255, 255, 0.50));

background: var(--Windows-Glass, rgba(128, 128, 128, 0.40));
background-blend-mode: luminosity;
/* Blur + Shadow Small */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
backdrop-filter: blur(50px);
}